<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-Login</title>
</head>
<body>
    <h1>Connexion</h1>
    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <input type="submit" value="Login">
        {% with msgs = get_flashed_messages() %}
            {% if msgs %}
                <ul>
                    {% for msg in msgs %}
                        <li>{{ msg }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </form>
</body>
</html>